[Desktop Entry]
Name=Fren
Comment=Fast terminal file manager written in rust with opening features
Exec=fren
Icon=fren
Type=Application
Categories=Utility;FileManager;
Terminal=true
Categories=Utility;FileManager
Keywords=File;Manager;Tui;Console
